
label{
    margin-left: 20px;
}
.name{
    border-radius: 10px;
    margin-left: 23px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.email{
    border-radius: 10px;
    margin-left: 52px;
    padding-left: 10px;
    margin-bottom: 10px;
}

h1{
    margin-left: 115px;
}
.btn1{
    margin-left: 130px;
    border-radius: 10px;
    margin-top: 10px;
  
}
.btn2{
    border-radius: 10px;
}

.password{
    border-radius: 10px;
    margin-left: 23px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.dob{
    border-radius: 10px;
    margin-left: 60px;
    margin-bottom: 10px;
}
.abc{
    margin-left: 50px;
    margin-bottom: 10px;
}
.btn3{
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 150px;
    height: 30px;
    color: white;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;

}
/* .Link{
    text-decoration: "none"
} */
